*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility classes */

.d-none {
  display: none !important;
}

.basic-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  width: 100%;
  background: gray;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.header > h1 {
  font-size: 3rem;
}

.main-content-div {
  display: flex;
}

.toggle-add-interface-btn {
}

body {
}

#title-input {
  height: 1.5rem;
}

.sidebar {
  width: 400px;
  background-color: rgb(230, 230, 230);
  padding: 2rem;
}

#create-project-interface-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

#create-project-interface {
  padding: 1rem;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

#project-input-name {
  margin-bottom: 1rem;
  color: black;
  padding: 0.5rem 0.8rem;
}

.project-label-li {
  list-style: none;
  font-size: 1.2rem;
}

.bottom-sidebar-section {
  margin-top: 2rem;
  background-color: limegreen;
}

/* for label "Projects" */
.bottom-sidebar-section > h2 {
  margin-bottom: 2rem;
}

/* for Project Container */
.bottom-sidebar-section > ul {
}

.project {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project:hover {
  cursor: pointer;
}

.selected-project {
  background-color: blue;
}

.p-delete-btn {
  padding: 5px;
}

#create-task-interface-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#create-task-interface {
  border: 5px solid orange;
  border-radius: 5px;
  background: coral;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 2rem;
}

/* styling for task */
.task {
  background: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.3rem 0.4rem 1.2rem;
  position: relative;
}

/* To style the bar that indicates priority of task */
.task::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
}

.lowPriority::after {
  background-color: green;
}

.middlePriority::after {
  background-color: gold;
}

.highPriority::after {
  background-color: darkred;
}


/* project <select> in task interface */
#project-select {
  padding: 5px;
}

.task:hover {
  background: gold;
}

.task-content {
  display: flex;
  justify-content: space-between;
}

.label {
  margin-right: 2rem;
  list-style: none;
  width: 100%;
  white-space: nowrap;
}

.task-delete-btn {
  padding: 0.5rem;
}

/* END */

#due-date-input {
  height: 1.5rem;
}

.create-task-interface-div {
  margin-top: 1rem;
}

/* create task radio buttons */
.create-task-interface-priority-div > input[type="radio"] {
  height: 25px;
  width: 25px;
  background-color: green;
}

.create-task-interface-add-btn {
  margin-top: 1rem;
}

main {
  width: 100%;
}

#inbox-task-container {
  padding: 2rem;
  background: purple;
  width: 100%;
}

.bottom-sidebar-section > .toggle-project-interface-btn {
  margin-top: 2rem;
}
