@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sky-blue: rgb(57, 124, 231);
  --light-blue: #79ddff1c;
  --text-color: rgb(15, 15, 15);
}

/* Utility classes */

.task-completed-strikethrough {
  text-decoration: line-through;
}

.task-completed-gray {
  opacity: 0.8;
  color: rgb(51, 49, 49);
}

.d-none {
  display: none !important;
}

.basic-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  width: 100%;
  background: var(--sky-blue);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: white;
}

.header > h1 {
  font-size: 1.5rem;
  font-family: "Comfortaa", sans-serif;
}

.header-right-container {
  display: flex;
  align-items: center;
}

#toggle-task-interface-btn-1 {
  border: none;
  font-size: 1rem;
  background-color: transparent;
  color: white;
}

#toggle-project-menu-btn {
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  color: white;
  background-color: transparent;
}

#toggle-project-menu-btn > i {
  font-size: 3rem;
}

.main-content-div {
  display: flex;
  flex-direction: column;
  height: 85vh;
  font-family: "Barlow", sans-serif;
}

.sidebar {
  width: 100%;
  padding: 2rem;
  background-color: var(--light-blue);

  /* change to original later */
  /* background-color: var(--light-blue); */
}

main {
  flex: 100%;
  padding: 1rem;
}

#title-input {
  height: 1.5rem;
}

#create-project-interface-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}

#create-project-interface {
  padding: 1rem;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

/* .top-sidebar-section { */
/* background-color: gold; */
/* } */

#project-input-name {
  color: black;
  padding: 0.7rem 0.5rem;
  border-radius: 3px;
  margin-left: 0.5rem;
  border: 1px solid black;
  font-size: 1rem;
}

.project-label-li {
  list-style: none;
  font-size: 1.2rem;
}

.bottom-sidebar-section {
  margin-top: 2rem;
  /* background-color: limegreen; */
}

/* for label "Projects" */
.bottom-sidebar-section > h2 {
  margin-bottom: 2rem;
}

.project {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project:hover {
  cursor: pointer;
  /* background-color: var(--sky-blue); */
  background-color: white;
}

.selected-project {
  /* background-color: var(--sky-blue); */
  background-color: white;
  font-weight: bold;
}

.p-delete-btn {
  padding: 5px;
}

#create-task-interface-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}

#create-task-interface {
  /* border: 5px solid var(--sky-blue); */
  border-radius: 5px;
  background: white;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

/* styling for task */
.task {
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.3rem 0.4rem 1.2rem;
  position: relative;
  color: var(--text-color);
  cursor: pointer;
}

/* To style the bar that indicates priority of task */
.task::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
}

.lowPriority::after {
  background-color: green;
}

.middlePriority::after {
  background-color: gold;
}

.highPriority::after {
  background-color: darkred;
}

/* project <select> in task interface */
#project-select {
  padding: 5px;
}

.task-content {
  display: flex;
  justify-content: space-between;
}

.label {
  margin-right: 2rem;
  list-style: none;
  width: 100%;
  white-space: nowrap;
}

.task-delete-btn {
  padding: 0.5rem;
}

/* END */

#due-date-input {
  height: 1.5rem;
}

.create-task-interface-div {
  margin-top: 1rem;
}

/* create task radio buttons */
.create-task-interface-priority-div > input[type="radio"] {
  height: 25px;
  width: 25px;
  /* background-color: green; */
}

#task-container {
  /* background: purple; */
  width: 100%;
}

#task-container-project-title {
  margin-bottom: 1rem;
}

.bottom-sidebar-section > .toggle-project-interface-btn {
  margin-top: 2rem;
}

/* button that toggles add project interface (the first one) */
#toggle-project-interface-btn-1 {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: var(--sky-blue);
}

/* delete buttons for tasks and projects */
.delete-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--sky-blue);
}

#create-task-interface-container-bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  grid-column: 1/2;
}

#create-project-interface-top-container {
  display: flex;
  align-items: center;
}

#create-project-interface-bottom-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.interface-btn {
  margin-left: 5px;
  padding: 1rem;
  font-size: 1rem;
}

.interface-btn-add {
  background-color: var(--sky-blue);
  color: white;
  border: none;
}

.interface-btn-close {
  border: 1px solid gray;
  background-color: transparent;
  color: gray;
}

@media only screen and (min-width: 600px) {
  .header > h1 {
    font-size: 3rem;
  }

  /* if screen is at least 600px then make sidebar and main content adjacent to each other */
  .main-content-div {
    flex-direction: row;
  }

  #toggle-task-interface-btn-1 {
    font-size: 1.6rem;
  }

  #task-container {
    padding: 2rem 4rem;
  }

  /* fixed height for sidebar if screen is at least 600px */
  .sidebar {
    display: block !important;
    width: 300px;
  }

  #task-container-project-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  /* no need for btn that toggles project menu once screen width is larger than 600px */
  #toggle-project-menu-btn {
    display: none;
  }

  #create-task-interface {
    grid-template-columns: repeat(2, 1fr);
  }

  #create-task-interface-container-bottom {
    grid-column: 1/3;
  }
}
