*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility classes */

.d-none {
  display: none !important;
}

.basic-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  width: 100%;
  background: gray;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.header > h1 {
  font-size: 3rem;
}

.main-content-div {
  display: flex;
}

.toggle-add-interface-btn {
}

body {
}

#title-input {
  height: 1.5rem;
}

.sidebar {
  width: 400px;
  background-color: rgb(230, 230, 230);
  padding: 2rem;
}

#create-project-interface-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

#create-project-interface {
  padding: 1rem;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

#project-input-name {
  margin-bottom: 1rem;
  color: black;
  padding: 0.5rem 0.8rem;
}

.project-label-li {
  list-style: none;
  font-size: 1.2rem;
}

.bottom-sidebar-section {
  margin-top: 2rem;
}

#create-task-interface-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

#create-task-interface {
  border: 5px solid orange;
  border-radius: 5px;
  background: coral;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 2rem;
}

/* styling for task */
.task {
  display: flex;
  align-items: center;
  padding: 0.4rem 0;
}

.task:hover {
  background: gold;
}

.task-content {
  display: flex;
  justify-content: space-between;
}

.task-label {
  margin-right: 2rem;
  list-style: none;
}

.task-delete-btn {
  padding: 0.5rem;
}

/* END */

#due-date-input {
  height: 1.5rem;
}

.create-task-interface-div {
  margin-top: 1rem;
}

/* create task radio buttons */
.create-task-interface-priority-div > input[type="radio"] {
  height: 25px;
  width: 25px;
  background-color: green;
}

.create-task-interface-add-btn {
  margin-top: 1rem;
}

#inbox-task-container {
  padding: 2rem;
}
