*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background: gray;
}

#title-input {
  height: 1.5rem;
}

#create-task-interface {
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
}

#due-date-input {
  height: 1.5rem;
}

.create-task-interface-div {
  margin-top: 1rem;
}

/* create task radio buttons */
.create-task-interface-priority-div > input[type="radio"] {
  height: 25px;
  width: 25px;
  background-color: green;
}

.create-task-interface-add-btn {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
